{% extends "tweetApp/base.html" %}

{% block main %}
<div class="container-fluid" style="margin-top: 80px; text-align: center;">
    <div style="display: inline-block;">
        <form method="POST" action="/profile/">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                {{ form.first_name.errors }}
                <label for="{{ form.first_name.id_for_label }}">First Name:</label>
                {{ form.first_name }}
            </div>
            <div class="fieldWrapper">
                {{ form.last_name.errors }}
                <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
                {{ form.last_name }}
            </div>
            <div class="fieldWrapper">
                {{ form.city.errors }}
                <label for="{{ form.city.id_for_label }}">City:</label>
                {{ form.city }}
            </div>
            <div class="fieldWrapper">
                {{ form.country.errors }}
                <label for="{{ form.country.id_for_label }}">Country:</label>
                {{ form.country }}
            </div>
            
        <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}