<!doctype html>

<html lang="en" style="height: 100%; width: 100%; margin:0;">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <title>Twitter Clone</title>
  </head>
  
  <body style="height: 100%; margin: 0; max-width: 100%;">
    {% load static %}

    {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="margin-top: 62px; position: absolute; margin-left: 20px;">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
    {% endfor %}

    {% block navbar %}
    <nav class="navbar fixed-top navbar-light" style="height: 62px; max-width: 100%; box-shadow: 2px 2px 15px #1DA1F2; background-color: white;">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'tweetApp/logo.png' %}" style="height: 30px;" alt="logo">
          </a>
          
          <form class="d-none d-lg-flex" >
            <input class="form-control me-2" type="search" placeholder="Search on Twitter..." aria-label="Search" >
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          {% if user.is_authenticated %}
          <div class="navbar-text d-sm-none">Welcome <a href="{% url 'account-detail' user.username %}"><b>{{user.username}}</b></a>.</div>
          <div class="navbar-text d-none d-sm-inline">Welcome <a href="{% url 'account-detail' user.username %}"><b>{{user.username}}</b></a>
            , what's on your mind today?</div>
          
          <div>
            <form action="/logout/" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-danger" style="margin-right: 10px;">Logout</button>
            </form>
          </div>
          {% else %}
          <div>
            <button type="button" class="btn btn-outline-info" style="width: 100px;" data-bs-toggle="modal" data-bs-target="#LoginModal">
              Login
            </button>
            <button type="button" class="btn btn-outline-info" style="width: 100px; margin-left: 15px;" data-bs-toggle="modal" data-bs-target="#RegistrationModal">
              Register
            </button>
          </div>
          {% endif %}
        </div>
      </nav>

      <!-- Registration Modal -->
      <div class="modal fade" id="RegistrationModal" tabindex="-1" aria-labelledby="registrationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Register</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="registerForm" method="post">
              {% csrf_token %}
              <div class="modal-body" id="register_body">
                <div class="form-floating mb-3" >
                    <input class="form-control" id="id_username" name="username" placeholder="username">
                    <label for="id_username">Username:</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="id_email" name="email" placeholder="email">
                  <label for="id_email">Email:</label>
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="password1" name="password1" placeholder="password">
                  <label for="password1">Password:</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="password2" name="password2" placeholder="password2">
                  <label for="password_conf">Password Confirmation:</label>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>


      <!-- Login Modal -->
      <div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Login</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" id="loginForm">
              {% csrf_token %}
              <div class="modal-body" id="login_body">
                <div class="form-floating mb-3">
                  <input class="form-control" id="login_username" name="username" placeholder="username">
                  <label for="login_username">Username:</label>
                  <div id="usernameHelp" class="form-text">Testing account: "TesterAccount"</div>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="login_password" name="password" placeholder="password">
                  <label for="login_password">Password:</label>
                  <div id="passwordHelp" class="form-text">Testing account: "TesterPassword321"</div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <script type="module">
        var registerModal = document.getElementById('RegistrationModal')
        var registeInput = document.getElementById('id_username')
        registerModal.addEventListener('shown.bs.modal', function () {
          registeInput.focus()
        })

        var loginModal = document.getElementById('LoginModal')
        var loginInput = document.getElementById('login_username')
        loginModal.addEventListener('shown.bs.modal', function () {
          loginInput.focus()
        })
      </script>
    <script src="{% static 'tweetApp/utils.js' %}"></script>
    {% endblock %}

    {% block main %}
        
    {% endblock %}
   
  </body>

</html>