{% extends "tweetApp/base.html" %}

{% block main %}
    <div class="row" style="margin-top: 62px; height: 100%; background: linear-gradient(#FFFFFF 70%, #1DA1F2); position: relative;">
        <div class="col-lg" >
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="margin: 10px; max-width: 60%; text-align: center; opacity: 0.8; position: absolute;">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}

        </div>
        <div class="col-lg" >

        </div>
        <div class="col-lg" style="text-align: center;">
            
        </div>
    </div>
{% endblock %}